body {
	background-color: #fff;
	font-size:12px;
}

i {
	color:#ddd;
}

div.label {
float: left;
clear: left;
color: #fff;
cursor: default;
font: bold 12px helvetica, arial, verdana;
width: 150px;
padding: 1px;
}

div.button:last-child {border-bottom-style: none;}
div.button:hover {
	color: #123272;
	background-color: #E1E1E1;
}

div.data {
color: #fff;
cursor: default;
font: bold 12px helvetica, arial, verdana;
width: 100px;
padding: 1px;
float:right;
}

div.header {
color: #fff;
cursor: default;
font: bold 12px helvetica, arial, verdana;
width: 100%;
padding: 0px;
align: middle;
}

a:link,a:hover,a:visited {
text-decoration:none;
color:#fff;
cursor: default;
font: bold 12px helvetica, arial, verdana;
}