body {
    background-color: #WHITE;
    font-size:12px;
    margin: 0px;
    padding: 0 0 80px 0;

}

p {
    text-decoration:none;
    color:#000;
    cursor: default;
    font: 12px helvetica, arial, verdana;
}

i {
    color:#GRAY;
}

div.label {
    float: left;
    clear: left;
    color: #000;
    cursor: default;
    font: bold 12px helvetica, arial, verdana;
    width: 150px;
    padding: 1px;
}

div.button:last-child {border-bottom-style: none;}

div.button:hover {
    color: #123272;
    background-color: #E1E1E1;
}

div.data {
    color: #000;
    cursor: default;
    font: bold 12px helvetica, arial, verdana;
    width: 100px;
    padding: 1px;
    float:right;
}

div.header {
    color: #000;
    cursor: default;
    font: bold 12px helvetica, arial, verdana;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align: middle;

    display:inline;
}

a:link,a:hover,a:visited {
    text-decoration:none;
    color:#000;
    cursor: default;
    font: bold 12px helvetica, arial, verdana;
}


.ui-widget-content {
    border: 0px;
}
